<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.res.check">

    <application
        android:name="com.res.check.ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.res.check.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.res.check.SecondActivity" />
        <!--<activity android:name=".SecondActivity222" />-->
        <activity
            android:name="com.res.check.booking.ui.checkout.invoice.InvoiceEditActivity"
            android:screenOrientation="portrait"
            />
        <service android:name="com.res.check.TestService$InnerService"/>
    </application>

</manifest>
